<div class="modal fade"
     id="NewTaskModal"
     tabindex="-1"
     aria-labelledby="NewTaskModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content"
         data-bs-theme="dark"
         style="background-color:#121212;
                border-radius: 15px">
      <div class="modal-header" style="border: none;">
        <h5 class="modal-title" id="NewTaskModalLabel">New task</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form id="newTaskForm"  action="{% url 'task:create_task' %}" method="post">
        {% csrf_token %}
        <div class="modal-body py-2">
          <!-- New Task Form -->
          <!-- Task name -->
          <div class="row g-2 mb-2">
            <label for="taskName" class="col-3 col-form-label" style="padding-left:15px">Task</label>
            <div class="col-9">
              <input type="text"
                     name="taskName"
                     class="form-control"
                     id="taskName"
                     placeholder="Vacuum, Do dishes, etc.."
                     maxlength="128"
                     required />
            </div>
          </div>
          <!-- Task description -->
          <div class="row g-2 mb-2">
            <label for="taskDescription"
                   class="col-3 col-form-label"
                   style="padding-left:15px">Description</label>
            <div class="col-9">
              <textarea class="form-control"
                        name="taskDescription"
                        id="taskDescription"
                        placeholder="Anything special or specific about this task?"
                        maxlength="512"
                        required></textarea>
            </div>
          </div>
          <!-- Due date -->
          <div class="row g-2 mb-2">
            <label for="dueDate" class="col-3 col-form-label" style="padding-left:15px">Deadline</label>
            <div class="col-9">
              <input type="date" class="form-control" name="dueDate" id="dueDate" />
            </div>
          </div>
          <!-- Type -->
          <div class="row g-2 mb-2">
            <label for="type" class="col-3 col-form-label" style="padding-left:15px">Regularity</label>
            <div class="col-9">
              <select class="form-select" name="type" required>
                <option value="single" selected>Single</option>
                <option value="recurring">Recurring</option>
              </select>
            </div>
          </div>
          <!-- Category -->
          <div class="row g-2 mb-2">
            <label for="category" class="col-3 col-form-label" style="padding-left:15px">Category</label>
            <div class="col-9">
              <select class="form-select" name="category" required>
                <option value="normal" selected>Normal</option>
                <option value="urgent">Urgent</option>
                <option value="special">Special</option>
              </select>
            </div>
          </div>
          <!-- Room Selector -->
          <div class="mb-3" style="padding-top:15px">
            <div class="accordion" id="floorAccordion">
              {% for floor in request.session.sidebar_floors %}
                {%comment%}if floor has no rooms then skip{%endcomment%}
                {% if not floor.rooms %}
                  <!-- continue -->
                {% else %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                      <button class="accordion-button {% if not view_type == 'room' or floor.id != room_floor_id %}collapsed{% endif %}"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse{{ floor.id }}"
                              aria-expanded="{% if floor.id == room_floor_id %}true{% else %}false{% endif %}"
                              aria-controls="collapse{{ forloop.counter }}">
                        <div class="form-check">
                          <!-- Add checked attribute for floor checkbox when in floor view -->
                          <input class="form-check-input"
                                 type="checkbox"
                                 value="{{ floor.id }}"
                                 id="floor-{{ floor.name }}"
                                 name="floorIDs"
                                 {% if floor_id and floor.id == floor_id %}checked{% endif %}
                                 style="width: 25px;
                                        height: 25px;
                                        margin-right:10px" />
                          <label class="form-check-label"
                                 for="{{ floor.name }}"
                                 style="padding-top:7px">{{ floor.name }}</label>
                        </div>
                      </button>
                    </h2>
                    <div id="collapse{{ floor.id }}"
                         class="accordion-collapse collapse {% if  view_type == 'room' and floor.id == room_floor_id or floor.id == floor_id %}show{% endif %}"
                         aria-labelledby="heading{{ forloop.counter }}"
                         data-bs-parent="#floorAccordion">
                      <div class="accordion-body">
                        {% for room in floor.rooms %}
                          <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="{{ room.id }}"
                                   name="roomIDs"
                                   data-floor-id="floor-{{ floor.name }}"
                                   id="{{ room.name }}"
                                   {% if room.id == room_id or floor.id == floor_id %}checked{% endif %}
                                   style="width: 20px;
                                          height: 20px" />
                            <label class="form-check-label"
                                   for="{{ room.name }}"
                                   style="font-size: 16px">{{ room.name }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="alert alert-danger"
             role="alert"
             id="taskModalErrorField"
             style="margin-left:40px;
                    margin-right:40px;
                    background-color:maroon;
                    color:white;
                    text-align:center;
                    display:none">Please select a room or floor</div>
        <div class="modal-footer py-2"
             style="border: none;
                    padding-bottom:15px !important">
          <!-- Reduced padding here -->
          <button type="button" class="btn btn-dark" id="close-task-modal-btn" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" id="submit-task-modal-btn" class="btn btn-info">Add task</button>
        </div>
      </form>
    </div>
  </div>
</div>
