{% load static i18n %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar" style="width:250px">
    <div class="dropdown" id="userSidebarDropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" id="userSidebarDropdownMenu" aria-expanded="false" style="display: flex;
                  justify-content: center;
                  align-items: center">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar" style="height: 32px;
                            width: 32px;
                            border-radius: 50%" />
            {% else %}
            <img src="{% static 'images/default-avatar.png' %}" alt="Default Avatar" style="height: 32px;
                            width: 32px;
                            border-radius: 50%" />
            {% endif %}
            <strong style="padding-left:5px; margin-top:5px; font-size: 30px">{{ user.name }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li>
                <a class="dropdown-item" href="#">New project...</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Settings(WIP?)</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'users:detail' request.user.pk %}">Profile</a>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="dropdown-item" class="dropdown-item">Sign Out</button>
                </form>
            </li>
        </ul>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto ps-0 sidebar-ul">
        <li class="nav-item">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#NewTaskModal"
                style="width: 100%;"><i><span class="bi bi-plus-circle"></span> New task</i>
            </button>
        </li>
        <hr />
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link active" aria-current="page" style="background-color: blueviolet;
                   margin-bottom:15px;
                   border-radius:20px;
                   text-align:center">
                <strong>🏡 Home</strong>
            </a>
        </li>
        {% for floor in request.session.sidebar_floors %}
        <div class="sidebar-floor-dropdown-container" style="margin-bottom:15px">
            <li class="nav-item" style="height:38px;">
                <div class="btn-group sidebar-floor-btn-group" style="filter: drop-shadow(0 0 0.35rem {{ floor.color }});">

                    <a href="{% url 'task:floor' floor.id %}"
                        class="btn sidebar-floor-button sidebar-btn-group-{{ floor.id }}"
                        style="background-color: {{ floor.color }}50;
                               border-color:{{ floor.color }}99;
                               border-radius:20px;">
                        <strong>{{ floor.icon }} {{ floor.name }}</strong>
                    </a>

                    <a href="#collapsible-sidebar-{{ floor.id }}"
                        data-bs-target="collapsible-sidebar-{{ floor.id }}"
                        class="btn btn-primary sidebar-floor-expander sidebar-btn-group-{{ floor.id }}"
                        role="button"
                        aria-expanded="true"
                        aria-controls="collapsible-sidebar-{{ floor.id }}"
                        data-bs-toggle="collapse"
                        floor-id="{{ floor.id }}"
                        style="
                            background-color:{{ floor.color }}50;
                            border-color:{{ floor.color }}99;
                            border-radius:20px;
                            margin-left:5px;
                        ">
                        <i class="bi bi-chevron-up"></i>
                    </a>
                    <style>
                        .sidebar-btn-group-{{ floor.id }}{
                            transition: all 1s ease;
                        }

                        .sidebar-btn-group-{{ floor.id }}:hover {
                            filter: drop-shadow(0 0 0.75rem {{ floor.color }});
                        }
                    </style>
                </div>
            </li>

            <div class="nav flex-column ms-3 collapse-sidebar collapse show"
                id="collapsible-sidebar-{{ floor.id }}">
                <ul style="display:block; padding-left:10px" class="sidebar-ul">
                    {% for room in floor.rooms %}
                    <li class="nav-item">
                        <a href="#" class="nav-link" style="color:#E0E0E0">{{ room.icon }} {{ room.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>

<style>
    .sidebar {
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    }

    .sidebar-floor-expander {
        border-left: darkgrey solid 1px;
        width: 20%;
    }

    .sidebar-floor-button {
        width: 80%;
    }

    .sidebar-floor-btn-group {
        width: 100%;
    }

    .sidebar-ul {
        list-style-type: none;
    }
</style>
