{% load static i18n %}

<link rel="stylesheet" href="{% static 'css/task_partial.css' %}" />
</link />
{% block inline_javascript %}
 <script src="{% static 'js/tasks_partial.js' %}"></script>
{% endblock %}
{% if floor_id %}<div id="floor_id_holder" floor_id="{{ floor_id }}"></div>{% endif %}
{% if room_id %}<div id="room_id_holder" room_id="{{ room_id }}"></div>{% endif %}
<!-- placeholder for dynamically loaded tasks -->
<div id="tasks" class="container">
  <div style="text-align: center;
              text-shadow:
                1px 1px 5px {% if floor %} {{ floor.color }} {% else %} black {% endif %},
                1px 1px 5px {% if floor %} {{ floor.color }} {% else %} black {% endif %};
              font-size: 20px;
              margin-bottom: 20px">Pending tasks for {% if room %} {{ room.icon }} {{ room.name }}{% else %} {{ floor.icon }} {{ floor.name }}{% endif %}</div>
  <div id="pending_tasks_holder">
    <div id="no-tasks-congrats" class="congrats-banner">
      <div class="congrats-content">
        <h1>Congratulations!</h1>
        <p>You have completed all your tasks. Great job!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main" style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main " style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main" style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center;
              text-shadow: 1px 1px 15px  {% if floor %} {{ floor.color }} {% else %} black {% endif %};
              margin-bottom: 20px;
              font-size: 20px">Completed tasks</div>
  <hr style="width: 70%; margin:auto;" />
  <div id="done_tasks_holder">
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main" style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main " style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending task-holder">
      <div class="card mb-3 shadow card-loading-main" style="width:100%;">
        <div class="card-header card-loading-header">
          <div class="loading-rectangle loading-rectangle-header"></div>
        </div>
        <div class="card-body card-loading-body">
          <div class="loading-rectangle" style="width: 70%;"></div>
          <div class="loading-rectangle" style="width: 90%;"></div>
          <div class="loading-rectangle" style="width: 30%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<template id="task-template">
  <div class="task-holder">
    <div class="card mb-3 shadow">
      <div class="card-header">
        <span class="task-name task-field"
              contenteditable="true"
              data-task-id="0"
              csrf="{{ csrf_token }}"
              data-field-name="task_name"></span>
        <!-- Mark as done button -->
        <button class="btn btn-sm btn-outline-success mark-as-done-btn task-field"
                type="button"
                data-task-id="0"
                data-field-name="status"
                data-value="done"
                csrf="{{ csrf_token }}"
                style="box-shadow: inset 0px 0px 20px 2px darkgreen;">
                <i class="bi bi-check-lg" style="font-size: 30px; text-shadow: 0px 0px 6px black;"></i>
        </button>
        <!-- Mark as done button -->
        <button class="btn btn-sm btn-outline-info mark-as-todo-btn task-field"
                type="button"
                data-task-id="0"
                data-field-name="status"
                data-value="to_do"
                csrf="{{ csrf_token }}"
                style="box-shadow: inset 0px 0px 20px 2px darkcyan;">
                <i class="bi bi-arrow-repeat" style="font-size: 30px; text-shadow: 0px 0px 6px black;"></i>
        </button>
      </div>

      <p class="task-category-visual"></p>

      <div class="card-body collapse show">
        <div class="task-field-container">
          <span class="task-description task-field"
                contenteditable="true"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="task_description"></span>
        </div>

        <div class="task-field-container hideable">
          <div class="task-modified-date-label task-label">Modified</div>
          <span class="task-modified-date-value task-field"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="modified_date"
                ></span>
        </div>

        <div class="task-field-container hideable" >
          <div class="task-type-label task-label"><i class="bi bi-clock-history" style="margin-right:5px;"></i>Type</div>
          <select class="task-field task-field-dropdown task-type-value"
            csrf="{{ csrf_token }}"
            data-field-name="type"
            data-task-id="0">
            <option value="single">One-time</option>
            <option value="recurring">Repeatable</option>
          </select>
        </div>

        <div class="task-field-container hideable">
          <div class="task-category-label task-label"><i class="bi bi-tag-fill" style="margin-right:5px"></i>Category</div>
          <select class="task-field task-field-dropdown task-category-value"
                  csrf="{{ csrf_token }}"
                  data-field-name="category"
                  data-task-id="0">
            <option value="normal">Normal</option>
            <option value="urgent">Urgent</option>
            <option value="special">Special</option>
          </select>
        </div>

        <div class="task-field-container hideable">
          <div class="task-due-date-label task-label"><i class="bi bi-calendar-date-fill" style="margin-right:5px"></i>Deadline</div>
          <input type="date"
                 class="task-field task-field-datepicker task-due-date-value"
                 csrf="{{ csrf_token }}"
                 data-field-name="due_date"
                 title="Deadline for the task"
                 data-task-id="0" />

          <button type="button"
                  class="btn btn-sm btn-clear-task-deadline task-field"
                  data-task-id="0"
                  data-field-name="due_date"
                  csrf="{{ csrf_token }}"
                  title="Clear due date">
            <i class="bi bi-eraser"></i>
          </button>
        </div>

        <div class="hideable rooms-manipulation-container">
          <div class="rooms-heading"><i class="bi bi-box" style="margin-right:5px"></i> Rooms</div>
          <button type="button" class="btn btn-outline-light show-room-modal-btn"
                  data-task-id="0"
                  data-bs-toggle="modal"
                  data-bs-target="#add-room-modal">
            <i class="bi bi-plus-circle-dotted"></i>
          </button>
        </div>

        <div class="room-delete-holder hideable">
        </div>

        <div class="task-field-container debug">
          <div class="task-due-date-label task-label">Due</div>
          <span class="task-due-date-value-actual task-field"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="due_date"></span>
        </div>

        <div class="task-field-container debug">
          <div class="task-creation-date-label task-label">Created</div>
          <span class="task-creation-date-value task-field"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="creation_date"></span>
        </div>

        <div class="task-field-container debug">
          <div class="task-modified-date-label task-label">Modified ts</div>
          <span class="task-modified-date-value-actual task-field"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="modified_date"
                ></span>
        </div>
        <div class="task-field-container debug">
          <p class="task-status-label task-label">Status</p>
          <span class="task-status-value task-field"
                contenteditable="true"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="status"></span>
        </div>
        <div class="task-field-container debug">
          <div class="task-completed-date-label task-label">Completed</div>
          <span class="task-completed-date-value task-field"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="completed_date"></span>
        </div>
        <div class="task-field-container debug">
          <div class="task-rooms-label task-label">Rooms</div>
          <span class="task-rooms-value task-field"
                contenteditable="true"
                data-task-id="0"
                csrf="{{ csrf_token }}"
                data-field-name="rooms"></span>
        </div>

        <div class="task-field-container delete-task-button-holder hideable">
          <!-- delete task button -->
          <button class="btn btn-sm btn-outline-light delete-task-button task-field"
                  data-task-id="0"
                  csrf="{{ csrf_token }}"
                  title="Delete task">
                  <i class="bi bi-trash3"></i> Delete
          </button>
        </div>
      </div>

      <div class="due-period-visible" title="Deadline"></div>
      <div class="expand-task-card-button task-field" data-task-id="0" title="Expand"><i class="bi bi-arrow-bar-down expand-task-card-button-icon"></i></div>
      <div class="repeatable-task-icon" title="Task is repeatable" style="display:none;"><i class="bi bi-arrow-repeat"></i></div>
      <div class="completed-task-icon" title="Task is completed" style="display:none;"><i class="bi bi-check2-circle"></i></div>
    </div>
  </div>
</template>

<template id="room-remover-template">
  <div class="room-remover">
    <div class="room-icon-label">🛋</div>
    <div class="room-name-label">Living room</div>
    <button type="button"
      class="btn btn-outline-light room-delete-button"
      data-task-id="0"
      data-field-name="room_remove"
      data-room-id="0"
      csrf="{{ csrf_token }}"
      title="Remove room">
      <i class="bi bi-x-lg"></i>
  </button>
  </div>
</template>

<div class="modal fade" id="add-room-modal" tabindex="-1" aria-labelledby="add-room-modal" aria-hidden="true" data-task-id="0">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-room-modal">Add rooms to task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body task-modal-body">
        {% for floor in request.session.sidebar_floors %}
          <div class="floor-label-modal"
               style="text-shadow: 1px 1px 20px {{ floor.color }};">{{ floor.icon }} {{ floor.name }}</div>
          <div class="room-add-modal-container" style="border-color:{{ floor.color }};">
          {% for room in floor.rooms %}
            <div class="room-label-modal" data-room-id="{{ room.id }}">
              <i class="bi bi-circle room-icon-label" data-task-id="0"></i>{{ room.icon }} {{ room.name }}
            </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-room-modal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-room-selection-modal" csrf="{{ csrf_token }}">Save changes</button>
      </div>
    </div>
  </div>
</div>
