{% if floor_id %}
<div id="floor_id_holder" floor_id="{{floor_id}}"></div>
{% endif %}

{% if room_id %}
<div id="room_id_holder" room_id="{{room_id}}"></div>
{% endif %}

<!-- placeholder for dynamically loaded tasks -->
<div id="tasks" class="container">
    <div style="
            text-align: center;
            text-shadow: 1px 1px 20px {{ floor.color }};
            margin-bottom: 20px;
            ">
        Pending tasks
    </div>
    <div class="row" id="pending_tasks_holder">
        <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending">
            <div class="card mb-3 shadow card-loading-main" style="width:100%;">
                <div class="card-header card-loading-header">
                    <div class="loading-rectangle"></div>
                </div>
                <div class="card-body card-loading-body">
                    <div class="loading-rectangle" style="width: 70%;"></div>
                    <div class="loading-rectangle" style="width: 90%;"></div>
                    <div class="loading-rectangle" style="width: 30%;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending">
            <div class="card mb-3 shadow card-loading-main" style="width:100%;">
                <div class="card-header card-loading-header">
                    <div class="loading-rectangle"></div>
                </div>
                <div class="card-body card-loading-body">
                    <div class="loading-rectangle" style="width: 70%;"></div>
                    <div class="loading-rectangle" style="width: 90%;"></div>
                    <div class="loading-rectangle" style="width: 30%;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 lading-container-pending">
            <div class="card mb-3 shadow card-loading-main" style="width:100%;">
                <div class="card-header card-loading-header">
                    <div class="loading-rectangle"></div>
                </div>
                <div class="card-body card-loading-body">
                    <div class="loading-rectangle" style="width: 70%;"></div>
                    <div class="loading-rectangle" style="width: 90%;"></div>
                    <div class="loading-rectangle" style="width: 30%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="
            text-align: center;
            text-shadow: 1px 1px 20px {{ floor.color }};
            margin-bottom: 20px;
            ">
        Completed tasks
    </div>
    <div class="row" id="done_tasks_holder">

    </div>
</div>

<template id="task-template">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-3 shadow">
            <div class="card-header">
                <span class="task-name" contenteditable="true"></span>
            </div>
            <div class="card-body collapse show">
                <div class="task-field-container">
                    <span class="task-description task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_description"></span>
                </div>

                <div class="task-field-container">
                    <p class="task-status-label task-label">Status: </p>
                    <span class="task-status-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_status"></span>
                </div>

                <div class="task-field-container">
                    <div class="task-type-label task-label">Type: </div>
                    <span class="task-type-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_type"></span>
                </div>

                <div class="task-field-container">
                    <div class="task-category-label task-label">Category: </div>
                    <span class="task-category-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_category"></span>
                </div>

                <div class="ttask-field-container">
                    <div class="task-due-date-label task-label">Due date: </div>
                    <span class="task-due-date-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_due_date"></span>
                </div>

                <div class="task-field-container">
                    <div class="task-creation-date-label task-label">Creation date: </div>
                    <span class="task-creation-date-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_creation_date"> </span>
                </div>

                <div class="task-field-container">
                    <div class="task-modified-date-label task-label">Modified date: </div>
                    <span class="task-modified-date-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_modified_date"></span>
                </div>

                <div class="task-field-container">
                    <div class="task-completed-date-label task-label">Completed date: </div>
                    <span class="task-completed-date-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_completed_date"></span>
                </div>

                <div class="task-field-container">
                    <div class="task-rooms-label task-label">Rooms: </div>
                    <span class="task-rooms-value task-field" contenteditable="true" data-task-id="0"
                        data-field-name="task_rooms"></span>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .task-field-container {
        display: flex;
    }

    .task-label {
        margin-right: 10px;
        font-weight: bold;
    }

    .card-header {
        font-weight: bold;
        font-size: 20px;
    }

    .card {
        transition: transform 0.4s ease-in-out;
    }

    .card:hover {
        transform: translateY(-3px);
    }

    .card-loading-main {
        width: 200px;
        height: 300px;
        border: 1px solid #424549;
        /* Darker border for dark mode */
        border-radius: 5px;
        background-color: #2A2A2A;
        /* Dark card background */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Stronger shadow for contrast */
    }

    .card-loading-header {
        background-color: #272B2F;
        /* Align items to the left */
    }

    .card-loading-body {
        background-color: #212529;
    }

    .loading-rectangle {
        width: 100%;
        /* Default width */
        height: 20px;
        margin-bottom: 8px;
        /* Space between rectangles */
        background-color: #2A2A2A;
        /* Darker rectangle for loading */
        animation: loading 1.5s infinite;
    }

    @keyframes loading {

        0%,
        100% {
            background-color: #333;
        }

        50% {
            background-color: #444;
            /* Slightly lighter during animation */
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOMContentLoaded");

        loadElements();
    });

    function loadElements() {
        loadPendingTasks();
        loadDoneTasks();
    }

    async function loadPendingTasks() {
        const pending_tasks = await fetchTasks(false);
        // fade out elements with class lading-container-pending
        const loading_containers = document.querySelectorAll('.lading-container-pending');
        loading_containers.forEach(container => {
            container.classList.add('fade');
            // also set display to none
            container.style.display = 'none';
        });
        renderTasks(pending_tasks, "pending_tasks_holder");
    }

    async function loadDoneTasks() {
        const done_tasks = await fetchTasks(true);
        renderTasks(done_tasks, "done_tasks_holder");
    }

    function renderTasks(tasks, elementId) {
        const container = document.getElementById(elementId);
        const template = document.getElementById("task-template");
        const fragment = document.createDocumentFragment();

        tasks.forEach(task => {
            const taskCard = template.content.cloneNode(true);
            taskCard.querySelector(".task-name").textContent = task.name;
            taskCard.querySelector(".task-description").textContent = task.description;
            taskCard.querySelector(".task-status-value").textContent = task.status;
            taskCard.querySelector(".task-type-value").textContent = task.type;
            taskCard.querySelector(".task-category-value").textContent = task.category;
            taskCard.querySelector(".task-due-date-value").textContent = task.due_date ? task.due_date : 'N/A';
            taskCard.querySelector(".task-creation-date-value").textContent = task.creation_date;
            taskCard.querySelector(".task-modified-date-value").textContent = task.modified_date ? task.modified_date : 'N/A';
            taskCard.querySelector(".task-completed-date-value").textContent = task.completed_date ? task.completed_date : 'N/A';
            taskCard.querySelector(".task-rooms-value").textContent = Object.entries(task.rooms).map(([id, name]) => `${name} (ID: ${id})`).join(', ');

            const taskFields = taskCard.querySelectorAll(".task-field");

            taskFields.forEach(taskField => {
                taskField.setAttribute("data-task-id", task.id);
            });

            fragment.appendChild(taskCard);
        });

        container.appendChild(fragment);
    }

    function getRoomID() {
        var room_id_holder = document.getElementById("room_id_holder");
        var room_id = null;

        if (room_id_holder) {
            room_id = room_id_holder.getAttribute("room_id");
        }

        return room_id;
    }


    function getFloorID() {
        var floor_id_holder = document.getElementById("floor_id_holder")
        var floor_id = null;

        if (floor_id_holder) {
            floor_id = floor_id_holder.getAttribute("floor_id");
        }

        return floor_id;
    }

    function fetchTasks(completed = false) {
        let floor_id = getFloorID();
        let room_id = getRoomID();

        // Construct the URL with parameters
        let url = new URL(`/task/fetch_tasks`, window.location.origin); // Ensure URL is correctly pointed to your Django view URL

        if (floor_id) {
            url.searchParams.append('floor_id', floor_id);
        }

        if (room_id) {
            url.searchParams.append('room_id', room_id);
        }

        url.searchParams.append('completed', completed);

        console.log("Fetching tasks for", completed ? "completed" : "incomplete", "from", url);

        // Return the fetch promise
        return fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(tasks => {
                console.log('Tasks:', tasks);
                return tasks;
            })
            .catch(error => {
                console.error('Failed to fetch tasks:', error);
                return [];
            });
    }
</script>