{% if global_workspaces|length > 1 %}
    <h3>Select workspace</h3>
    <div class="dropdown">
        <!-- Button text now dynamically displays the name of the selected workspace -->
        <button class="btn btn-secondary dropdown-toggle bg-dark text-light"
                type="button"
                id="workspaceDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {% for workspace in global_workspaces %}
                {% if workspace.id|stringformat:"s" == request.session.selected_workspace_id|stringformat:"s" %}
                    {{ workspace.name }}
                {% endif %}
            {% endfor %}
        </button>
        <ul class="dropdown-menu bg-dark" aria-labelledby="workspaceDropdown">
            {% for workspace in global_workspaces %}
                <li>
                    <!-- Each dropdown item is now a form that sends a POST request -->
                    <form action="{% url 'task:set_workspace' %}"
                          method="post"
                          class="dropdown-item">
                        {% csrf_token %}
                        <input type="hidden" name="workspace_id" value="{{ workspace.id }}" />
                        <button type="submit"
                                class="btn btn-link p-0 text-light"
                                style="text-decoration: none;
                                       color: inherit">{{ workspace.name }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        var workspaceDropdown = document.getElementById('workspaceDropdown');
        // on click of the dropdown button, toggle the dropdown menu
        workspaceDropdown.addEventListener('click', function() {
            var dropdownMenu = workspaceDropdown.nextElementSibling;
            dropdownMenu.classList.toggle('show');
        });
    </script>
{% endif %}
