#pending_tasks_holder,
#done_tasks_holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.task-holder {
  margin: 10px;
  max-width: 300px;
}

.task-field-container {
  display: flex;
}

.task-label {
  margin-right: 10px;
  font-weight: bold;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  padding: 0px;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
}

.card-header span{
  margin:auto;
  padding: 10px;
}

.mark-as-done-btn, .mark-as-todo-btn{
  border:0;
  border-radius: 0px 5px 0px 0px;
}

.due-period-visible{
  font-size:15px;
  display: inline;
  position:absolute;
  color:deeppink;
  top:-12px;
  left: -5px;
  text-shadow: 4px 2px 4px #000000;
}

.expand-task-card-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -17px;
  left: 0;
  right: 0;
  text-align: center;
}

.hideable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.hideable.show {
  max-height: 1000px; /* Set a maximum height that can accommodate your content */
  opacity: 1;
}

.expand-task-card-button-icon:hover {
  /* change mouse pointer to hand */
  cursor: pointer;
}

.expand-task-card-button-icon:before {
  font-size:25px;
  text-shadow: 0px 0px 10px hsl(0, 0%, 65%);
  color: #dee2e6e0;
  border-radius: 50%;
  transition: 0.5s;
}

.expand-task-card-button-icon:hover:before {
  font-size: 30px;
  text-shadow: 0px 0px 10px hsl(0, 0%, 100%);
  color: #dee2e6e0;
  border-radius: 50%;
}

.card {
  border: 0;
  transition: transform 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
}

.card-loading-main {
  width: 200px;
  height: 300px;
  border: 0;
  /* Darker border for dark mode */
  border-radius: 5px;
  background-color: #2A2A2A;
  /* Dark card background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Stronger shadow for contrast */
}

.card-loading-header {
  background-color: #272B2F;
  /* Align items to the left */
}

.card-loading-body {
  background-color: #212529;
}

.loading-rectangle {
  width: 100%;
  /* Default width */
  height: 20px;
  margin-bottom: 8px;
  /* Space between rectangles */
  background-color: #2A2A2A;
  /* Darker rectangle for loading */
  animation: loading 1.5s infinite;
}

@keyframes loading {

  0%,
  100% {
    background-color: #333;
  }

  50% {
    background-color: #444;
    /* Slightly lighter during animation */
  }
}
