{% extends "base.html" %}

{% load static %}

{% block title %}
  User {{ object.name }}
{% endblock title %}

{% block viewSpecificCss %}
  <style>
    .container {
      display:flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding:0;
    }

    .button-container {
      margin:15px;
    }
  </style>
{% endblock viewSpecificCss %}

{% block content %}
<div class="container">
  <div class="col-md-12" style="text-align: center;">
    <h1 class="display-4">{{ object.name }}</h1>
    <p class="lead">Manage your profile and settings.</p>
  </div>
</div>
  <div class="container mt-4" style="text-align: center;">
    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="container">
        <div class="button-container">
          <a class="btn btn-primary w-100" href="{% url 'users:update' %}" role="button">
            <i class="bi bi-pencil-square me-2"></i>Edit My Info
          </a>
        </div>
        <div class="button-container">
          <a class="btn btn-secondary w-100" href="{% url 'account_email' %}" role="button">
            <i class="bi bi-envelope-fill me-2"></i>Change E-Mail
          </a>
        </div>
        <div class="button-container">
          <a class="btn btn-info w-100" href="{% url 'mfa_index' %}" role="button">
            <i class="bi bi-shield-lock-fill me-2"></i>Manage 2FA
          </a>
        </div>
        <div class="button-container">
          <a class="btn btn-warning w-100" href="{% url 'socialaccount_connections' %}" role="button">
            <i class="bi bi-people-fill me-2"></i>Third Party Accounts
          </a>
        </div>
      </div>
      <!-- End Action buttons -->
    {% endif %}
  </div>
{% endblock content %}
